[mysql]
prompt="MariaDB \u@\h [\d] SQL> "

[server]
innodb_buffer_pool_size = 128M      # Innodb ram usage.
innodb_flush_log_at_trx_commit = 1  # Sync writes directly to disk.

# Replication
server_id = 2                       # master is 1, slave is 2
log_bin = my_bin_log
read_only = 1

userstat = 1
plugin_load_add = server_audit
server_audit_logging = ON
server_audit_events=connect,query,table